@font-face {
  font-family: "Henriette Bold";
  font-style: normal;
  font-weight: 400;
  src: url("../Commons/Henriette\ Bold.otf"); /* IE9 Compat Modes */
  src: local("Open Sans"), local("OpenSans"),
    url("../Commons/Henriette\ Bold.otf") format("embedded-opentype"),
    /* IE6-IE8 */ url("../Commons/Henriette\ Bold.otf") format("woff2"),
    /* Super Modern Browsers */ url("../Commons/Henriette\ Bold.otf")
      format("woff"),
    /* Modern Browsers */ url("../Commons/Henriette\ Bold.otf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../Commons/Henriette\ Bold.otf")
      format("svg"); /* Legacy iOS */
}
body {
  font-family: "Henriette Bold";
}

.gift-header1 {
  top: 208px;
  margin-left: 112px;
  width: 559px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-48) / var(--unnamed-line-spacing-56)
    var(--unnamed-font-family-henriette);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal bold 48px/56px Henriette;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.gift-header3 {
  margin-top: 3.8vh;
  margin-left: 112px;
  width: 410px;
  /* height: 62px; */
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-24) / var(--unnamed-line-spacing-32)
    var(--unnamed-font-family-henriette);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal bold 24px/32px Henriette;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.gift-paragraph {
  margin-top: 29px;
  margin-left: 112px;
  width: 28vw;
  /* height: 29px; */
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300)
    var(--unnamed-font-size-24) / var(--unnamed-line-spacing-32)
    var(--unnamed-font-family-basic-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal 300 24px/32px "Open Sans", sans-serif;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.gift-button {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #545871;
  border-radius: 8px;
  opacity: 1;
  color: #545871;

  cursor: pointer;
  /* text-decoration: underline; */
  /* display: inline; */
  font-size: 24px;
  font-family: Sans-Serif, "Henriette Bold";

  padding-top: 18px;
  padding-right: 32px;
  padding-bottom: 18px;
  padding-left: 32px;

  margin-top: 17px;
  /* margin-bottom: 100px; */
  /* margin-right: 16px; */
  margin-left: 12px;
  /* margin-left: 80px; */
}

.gift-button:hover,
.gift-button:focus {
  /* text-decoration: none;
  outline: none;
  box-shadow: none; */
  color: whitesmoke;
  background-color: #545871;
}

.gift-button-inverse {
  background-color: #545871;
  color: white;
  font-weight: lighter;
  border: 2px solid #545871;
  border-radius: 8px;
  opacity: 1;
  cursor: pointer;
  /* text-decoration: underline; */
  /* display: inline; */
  font-size: 24px;
  font-family: Sans-Serif, "Henriette Bold";

  padding-top: 18px;
  padding-right: 32px;
  padding-bottom: 18px;
  padding-left: 32px;

  margin-top: 54px;
  margin-left: 12px;

  /* margin-left: 80px; */
}

.gift-button-inverse:hover,
.gift-button-inverse:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

.product-card {
  background-color: #545871;
  color: white;
  font-weight: lighter;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  padding-right: 32px;
  padding-left: 32px;
  margin: 10px;
  width: calc(100vw / 8);
  /* text-decoration: underline; */
  /* display: inline; */
  /* font-size: 24px;
  font-family: Sans-Serif, "Henriette Bold";

  padding-top: 18px;
  padding-right: 32px;
  padding-bottom: 18px;
  padding-left: 32px;

  margin-top: 17px;
  margin-bottom: 100px; */
  /* margin-right: 16px; */
  /* margin-left: 80px; */
}

.product-card:hover,
.product-card:focus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-image {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  margin: 10px;
}

.text-overflow {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.back-button {
  /* top: 946px; */
  /* left: 184px; */
  /* width: 51px; */
  /* height: 29px; */
  /* font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300)
    var(--unnamed-font-size-32) / var(--unnamed-line-spacing-32)
    var(--unnamed-font-family-basic-sans); */
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-545871);
  text-align: left;
  font: 28px "Open Sans", sans-serif;
  letter-spacing: 0px;
  color: #545871;
  opacity: 1;
  cursor: pointer;
  margin-left: 8px;
  padding-top: 4px;
}

.back-button:hover,
.back-button:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

.back-image {
  /* top: 940px; */
  /* left: 128px; */
  /* width: 40px; */
  margin-left: 144px;
  height: 40px;
  background: var(--unnamed-color-545871) 0% 0% no-repeat padding-box;
  background: #545871 0% 0% no-repeat padding-box;
  opacity: 1;
  cursor: pointer;
}

.gift-tracker {
  /* background-color: yellow; */
  display: show;
  min-width: 1200px;
  min-height: 722px;
}

/* @media only screen and (max-width: 1200px) {
  .gift-tracker {
    display: none;
  }
} */

.results {
  margin-left: 144px;
  margin-right: 10px;
}

.price-text {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-20) /
    var(--unnamed-line-spacing-32) var(--unnamed-font-family-basic-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-545871);
  text-align: left;
  font: normal normal normal 20px/32px "Open Sans", sans-serif;
  letter-spacing: 0px;
  color: #545871;
  opacity: 1;
}

.price-box {
  width: 80px;
  margin-left: 14px;
}

.next-button-inverse {
  background-color: #545871;
  color: white;
  font-weight: lighter;
  border: 2px solid #545871;
  border-radius: 8px;
  opacity: 1;
  cursor: pointer;
  /* text-decoration: underline; */
  /* display: inline; */
  font-size: 24px;
  font-family: Sans-Serif, "Henriette Bold";

  padding-top: 18px;
  padding-right: 32px;
  padding-bottom: 18px;
  padding-left: 32px;

  margin-top: 29px;
  margin-left: 12px;

  /* margin-left: 80px; */
}

.next-button-inverse:hover,
.next-button-inverse:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

.sign-up-text {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300)
    var(--unnamed-font-size-24) / var(--unnamed-line-spacing-32)
    var(--unnamed-font-family-basic-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-545871);
  text-align: left;
  font: normal normal 300 24px/32px Basic Sans;
  letter-spacing: 0px;
  color: #545871;
  opacity: 1;
}

.sign-up-input {
  border: 2px solid var(--unnamed-color-545871);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #545871;
  border-radius: 8px;
  opacity: 1;
}

.sign-up-button {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300)
    var(--unnamed-font-size-24) / var(--unnamed-line-spacing-32)
    var(--unnamed-font-family-basic-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-545871);
  text-align: center;
  font: normal normal 300 24px/32px Basic Sans;
  letter-spacing: 0px;
  color: #545871;

  border: 2px solid var(--unnamed-color-545871);
  /* background: #ffffff 0% 0% no-repeat padding-box; */
  border: 2px solid #545871;
  border-radius: 8px;
  opacity: 1;
}

.sign-up-button:hover,
.sign-up-button:focus {
  color: whitesmoke;
  background-color: #545871;
}

.modal-button {
  width: 400px;
  height: 56px;
  background: var(--unnamed-color-545871) 0% 0% no-repeat padding-box;
  background: #545871 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
}

.modal-button:hover,
.modal-button:focus {
  color: whitesmoke;
  background-color: #545871;
}

.modal-box {
  border: none;
}

.name-input {
  width: 400px;
  margin-left: 10px;
  border: 2px solid var(--unnamed-color-545871);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #545871;
  border-radius: 8px;
  opacity: 1;
}

.name-text {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300)
    var(--unnamed-font-size-24) / var(--unnamed-line-spacing-32)
    var(--unnamed-font-family-basic-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-545871);
  text-align: left;
  font: normal normal 300 24px/32px Basic Sans;
  letter-spacing: 0px;
  color: #545871;
  opacity: 1;
  margin-left: 10px;
}

.save-button {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300)
    var(--unnamed-font-size-24) / var(--unnamed-line-spacing-32)
    var(--unnamed-font-family-basic-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-545871);
  text-align: center;
  font: normal normal 300 24px/32px Open Sans;
  letter-spacing: 0px;
  color: #545871;
  margin-left: 13px;

  border: 2px solid var(--unnamed-color-545871);
  /* background: #ffffff 0% 0% no-repeat padding-box; */
  border: 2px solid #545871;
  border-radius: 8px;
  opacity: 1;
}

.save-button:hover,
.save-button:focus {
  color: whitesmoke;
  background-color: #545871;
}
